<footer class="page-footer green">
    <div class="row center">
        <div class="col s12">
            <h5 class="white-text">Almoxarifado BEFAMA</h5>
            <p class="grey-text text-lighten-4">Software desenvolvido para o almoxarifado da Escola Estadual Benedito Fagundes Marques</p>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            Projeto Integrador Fatec
        </div>
    </div>
</footer>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../js/jquery/jquery.mask.js"></script>
<script src="../js/mascara/mask_site.js"></script>
<script src="../js/materialize/materialize.js"></script>
<script src="../js/materialize/init_materialize.js"></script>
<script src="../js/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>

</body>
</html>