<footer class="page-footer blue">
    <div class="row center">
        <div class="col s12">
            <h5 class="white-text">Almoxarifado BEFAMA</h5>
            <p class="grey-text text-lighten-4">Software desenvolvido para o almoxarifado da Escola Estadual Benedito Fagundes Marques</p>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            Desenvolvido por Jhonatan Carvalho Torres
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<!-- Compiled and minified JavaScript -->
<script src="../js/materialize/materialize.js"></script>
<script src="../js/Materialize.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
<script>
    $('#cpf').mask('000.000.000-00', {reverse: true});
    $('#contato').mask('(00) 00000-0000');
</script>

</body>
</html>