<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almoxarifado - Befama</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../style/materialize/materialize.css">

    <!-- CSS  -->
    <link rel="stylesheet" href="../style/geral.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link rel="stylesheet" href="../style/view/profile.css">
    
    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>