<!-- Dropdown Structure -->
<ul id="cadastro" class="dropdown-content">
    <li><a href="../view/registerMaterial.php">Material</a></li>
    <li><a href="../view/registerUser.php">Usuário</a></li>
    </ul>

<nav class="blue menu nav-extended">
    <div class="nav-wrapper container">
        <a href="../view/stock.php" class="brand-logo"><i class="material-icons">inventory_2</i></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="cadastro">Cadastrar<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="../view/history.php" >Histórico</a></li>
            <li><a href="../view/stock.php">Estoque</a></li>
            <li><a href="../view/requestMaterial.php">Solicitar Material</a></li>
        </ul>
    </div>
</nav>