<nav class="nav-extended blue">
    <div class="nav-wrapper container">
        <a href="../view/stock.php" class="brand-logo"><img src="../befama.svg" alt="logo befama" class="logo"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="cadastro">Cadastrar<i class="material-icons right">arrow_drop_down</i></a></li>
            <!-- <li><a href="../view/history.php" >Histórico</a></li> -->
            <li><a href="../view/stock.php">Estoque</a></li>
            <!-- <li><a href="../view/requestMaterial.php">Solicitar Material</a></li> -->
            <li><a href="../App/login/logout.php"><i class="material-icons right">logout</i></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <!-- <li><a href="../view/history.php" >Histórico</a></li> -->
    <li><a href="../view/stock.php">Estoque</a></li>
    <!-- <li><a href="../view/requestMaterial.php">Solicitar Material</a></li> -->
    <li><a href="../view/registerMaterial.php">Cadastrar material</a></li>
    <li><a href="../view/registerUser.php">Cadastrar Usuário</a></li>
    <li><a href="../App/login/logout.php">Sair<i class="material-icons right">logout</i></a></li>
</ul>

<ul id="cadastro" class="dropdown-content">
    <li><a href="../view/registerMaterial.php">Material</a></li>
    <li><a href="../view/registerUser.php">Usuário</a></li>
</ul>

<style>
    img.logo {
    height: 40px;
    margin-top: 10px;
}
</style>