td img.materialboxed {
    margin: 0 auto;
    height: 70px;
    border-radius: 2px;
}

img.logo {
    height: 40px;
    margin-top: 10px;
}
.none{
    display: none !important;
}

.img-edit{
    width: 150px;
}