img{
    height: auto;
    width: auto;
}

// .container{
//     overflow: hidden;
// }


img.logo {
    height: 40px;
    margin-top: 10px;
}

img.circle.materialboxed {
    margin: 40px auto 60px auto;
}

/*DESKTOP*/
@media (min-width: 771px)
    {
        td img.materialboxed {
        margin: 0 auto;
        height: 70px;
        border-radius: 2px;
    }

    img.logo {
        height: 40px;
        margin-top: 10px;
    }
    .none{
        display: none !important;
    }

    .img-edit{
        width: 150px;
    }
}

/*MOBILE*/
@media (max-width: 770px){
    td, th {
        padding: 15px 30px;
    }
}